@charset "utf-8";
body{font: 14px/1.5 "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;background-color: #ffffff;color: #333;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%}
ol,ul{list-style:none}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;*font-size:100%}
fieldset,img,a img,:link img,:visited img{border:0}
a{text-decoration:none}
a:hover{text-decoration:none;}
a:focus{outline:0}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sup,sub{font-size:100%;vertical-align:baseline}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
.p-r{position:relative;}
.p-a{position:absolute;}
.mr-t-20{margin-top:20px}
.mr-b-20{margin-bottom:20px}

.bg-c-ffffff{background-color:#ffffff;}
.bg-c-252a36{background-color:#252a36;}
.jztype{text-align: center;}
.clear,.clearfix:after{clear:both;height:0;overflow:hidden;display:block}
.clearfix:after{visibility:hidden;content:"";display: block;clear: both;}
lable{line-height: 40px;text-align: center;}
input{display: block;border:1px solid #ccc;font-size: 12px;margin: 0 auto;}
.pos-ab{position: absolute;}
.posrel{position: relative;}
/* .le-0{left:0;background-image: url(../images/hei-137.png);background-repeat: no-repeat;background-position: 485px center;} */

.clearfix{*zoom:1;}
.fl{float: left;}
.fr{float: right;}
.p-l-60{padding-left:60px;}
.p-l-r-60{padding-left:60px;padding-right:60px;}
.w420{width:420px;}
.w555{width:555px;}
.w604{width:604px;}
.w100{width:100px;}
.h65{height:65px;}
.h116{height:116px;}
.h103{height:103px;}
.w206{width:206px;}
.mauto{margin-left:auto;margin-right:auto}
.text-transform{text-transform: uppercase;}
.text-center{text-align:center;}
.w424{width:424px;}
.w460{width:460px;}
.w560{width:560px;}
.w100p{    width: 100%;}
.t0{top:0;}
.r0{right:0;}
.b0{bottom:0;}
.l0{left:0;}
.t20{top:20px;}
.t86{top: 86px;}
.r26{right: 26px;}
.r363{right: -10px;}
.mr0-5{margin:0px 5px;}
.mr0-10{margin:0px 10px;}
.pd10{padding: 10px}
.pd10-0{padding: 10px 0px;}
.pd0-14{padding: 0px 14px;}
.pd10-20{padding: 10px 20px;}
.pd20-20{padding: 20px 20px;}
.pd30-20{padding: 30px 20px;}
.pd40-20{padding: 40px 20px;}
.pd20-40{padding: 20px 40px;}
.pd20-60{padding: 20px 60px;}
.pd20-80{padding: 20px 80px;}
.pd15{padding: 15px;}
.pdt15{padding-top: 15px;}
.pdt35{padding-top: 35px;}
.pd15-0{padding: 15px 0;}
.pd0-15{padding: 0px 15px;}
.pd20{padding: 20px;}
.pd20-0{padding: 20px 0;}
.pd20-0-0-0{padding: 20px 0px 0px 0px;}
.pd31-0-0-0{padding: 31px 0px 0px 0px;}
.pd0-0-20-0{padding: 0px 0px 20px 0px;}
.pd0-0-60-0{padding: 0px 0px 60px 0px;}
.pd20-0-60-0{padding: 20px 0px 60px 0px;}
.pd24{padding: 24px;}
.pd24-0{padding: 24px 0;}
.pd25{padding: 25px;}
.pd25-0{padding: 25px 0;}
.pd30-0{padding: 30px 0;}
.pd40{padding: 40px;}
.pd40-0{padding: 40px 0;}
.pd50{padding: 50px;}
.pd50-0{padding: 50px 0;}
.pd60-0{padding: 60px 0;}
.pd19-0{padding:19px 0;}
.pd0-0-60-0{padding: 0px 0px 60px 0;}
.pd40-0-0-0{padding: 40px 0px 0px 0;}
.pd60-0-0-0{padding: 60px 0px 0px 0;}
.pd93{padding:93px;}
.mrt35{margin-top: 35px;}
.mr-5{margin-right:5px;}
.mr10{margin: 10px}
.mr10-0{margin: 10px 0px;}
.mr15{margin: 15px;}
.mr15-0{margin: 15px 0;}
.mr0-15{margin: 0px 15px;}
.mr20{margin: 20px;}
.mr20-0{margin: 20px 0;}
.mr20-0-0-0{margin: 20px 0 0 0;}
.mr24{margin: 24px;}
.mr24-0{margin: 24px 0;}
.mr25{margin: 25px;}
.mr25-0{margin: 25px 0;}
.mr40{margin: 40px;}
.mr40-0{margin: 40px 0;}
.mr40-0-0-0{margin: 40px 0 0 0;}
.mr50{margin: 50px;}
.mr50-0{margin: 50px 0;}
.m-b-20{margin-bottom: 20px;}
.m-b-30{margin-bottom: 30px;}
.position-relative{position:relative;}
.middle-contain,.header-contain,.footer-contain,.contain{margin-left: auto;margin-right: auto;min-width: 1200px;}
.middle-contain:after,.w1200:after,.x-w:after,.va-title:after,.icon-list-alts:after,.type1:after,.type2bottab:after,.type1top:after,.type1bot ul:after,.type2 .type2top ul:after,.t-b-link:after,.type2bottop:after,.type2botbot:after,.type3ul ul:after,.type4:after,.type4 .type4fr .type4frtop .type4fri span.title:after,.type4 .type4top:after,.type5:after,.type5 .type5fr .type5frtop .type5fri span.title:after,.type5 .type5top:after,.type6:after,.type6 .type6fr .type6frtop .type6fri span.title:after,.type6 .type6top:after,.type7 .type7bot .type7botul ul:after,.type8 .type8bor:after,.type9 .type9mid ul:after,.type3:after,.index_type2 .index_type2top ul:after,.index_type2 .index_type2bot .index_type2bottop .index_type2bottoph2-img .index_type2bottopimg:after,.index_type3div:after,.index_type4div:after,.index_type5div:after,.index_type6div:after,.index_type7div:after,.index_type8div:after,.index_type9div:after,.index_type10div:after,.index_type11div:after,.index_type12div:after,.index_type4 .index_type4div:after,form:after,formfl:after,.botnav ul:after{content: "";clear: both;display: block;}
.w100{width:100px;margin:0 auto}
.w200{width:200px;margin:0 auto}
.w300{width:300px;margin:0 auto}
.w360{width:360px;margin:0 auto}
.w400{width:400px;margin:0 auto}
.w455{width:455px;}
.w600{width:600px;margin:0 auto}
.w800{width:800px;margin:0 auto}
.w900{width:900px;margin:0 auto}
.w1000{width:1000px;margin:0 auto}
.w1012{width:1012px;margin-left: auto;margin-right: auto;}
.w1178{width:1178px;margin-left: auto;margin-right: auto;}
.w1180{width:1180px;margin-left: auto;margin-right: auto;}
.w1200{width:1200px;margin-left: auto;margin-right: auto;}
.w7{width:7px;}
.w10p{width:10%;}
.w20p{width:20%;}
.w30p{width:30%;}
.w40p{width:40%;}
.w50p{width:50%;}
.w60p{width:60%;}
.w70p{width:70%;}
.w80p{width:80%;}
.type5back .w1200{width:1200px;margin:0 auto;border-top: 1px solid #fff;}
.type5back .w1600{width:1600px;margin:0 auto;border-top: 1px solid #fff;}
.w670{width:670px;margin:0 auto}
.h20{height: 20px;}
.f-w{font-weight:600;}
.f-n{font-weight:normal;}
.mr-r-5{margin-right:5px;}
.mr-r-6{margin-right:6px;}
.mr-r-7{margin-right:7px;}
.mr-r-8{margin-right:8px;}
.mr-r-9{margin-right:9px;}
.mr-r-10{margin-right:10px;}
.mr-r-11{margin-right:11px;}
.mr-r-12{margin-right:12px;}
.mr-r-13{margin-right:13px;}
.mr-r-14{margin-right:14px;}
.mr-r-15{margin-right:15px;}
.mr-r-16{margin-right:16px;}
.mr-r-17{margin-right:17px;}
.mr-r-18{margin-right:18px;}
.mr-r-19{margin-right:19px;}
.mr-r-20{margin-right:20px;}

.c-ffffff{color: #ffffff}
.c-02c1e3{color: #02c1e3}
.c-077cb1{color: #077cb1}
.c-47b3ff{background-color: #47b3ff}
.c-c1c2c4{background-color: #c1c2c4}
.c-989899{background-color: #989899}
.c-eec782{color:#eec782;}
.c-959595{color:#959595;}
.ffe747{background-color: #ffe747}
.fbfae6{background-color: #fbfae6}
.c-10e99a{background-color: #10e99a}
.c-15e1d0{background-color: #15e1d0}
.e98b10{background-color: #e98b10}
.c-9d50ce{background-color: #9d50ce}
.f4f4f4{background-color: #f4f4f4}
.ff475c{background-color: #ff475c}
.f0f1f3{background-color: #f0f1f3}
.f7d9bc{background-color: #f7d9bc}
.e60012{background-color: #e60012}
.f7bcbc{background-color: #f7bcbc}
.eff0ea{background-color: #eff0ea}
.f5f5f5{background-color: #f5f5f5}
.cdcdcd{background-color: #cdcdcd}
.c-355eb8{background-color: #355eb8}
.l-h-24{line-height:24px;}
.l-h-26{line-height:26px;}
.l-h-28{line-height:28px;}
.l-h-30{line-height:30px;}
.l-h-32{line-height:32px;}
.l-h-36{line-height:36px;}
.l39{line-height:39px;}
.l-h-40{line-height:40px;}
.l-h-42{line-height:42px;}
.l-h-60{line-height:60px;}
.l-h-50{line-height:50px;}
.h200{height: 200px;}