@charset "utf-8"; 
body {
    font: 14px/1.5 "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    background-color: #ffffff;
    color: #333;
    overflow-x: hidden;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%
}

ol,ul {
    list-style: none
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
    font-style: normal
}

input,button,textarea,select,optgroup,option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    *font-size: 100%
}

fieldset,img,a img,:link img,:visited img {
    border: 0
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,th {
    text-align: left
}

sup,sub {
    font-size: 100%;
    vertical-align: baseline
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

li {
    list-style: none;
}

.w244 {
    width: 244px;
}

.w246 {
    width: 246px;
}

.w832 {
    width: 832px;
}

.w911 {
    width: 911px;
}

.h489 {
    height: 489px;
}

.h649 {
    height: 698px;
}

.h880 {
    height: 880px;
}

.mt60 {
    margin-top: 60px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb84 {
    margin-bottom: 84px;
}

.p-r {
    position: relative;
}

.mr-t-20 {
    margin-top: 20px
}

.mr-b-20 {
    margin-bottom: 20px
}

.bg-c-081227 {
    background-color: #081227;
}

.bg-c-ffffff {
    background-color: #ffffff;
}

.bg-c-252a36 {
    background-color: #252a36;
}

.jztype {
    text-align: center;
}

.clear,.clearfix:after {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block
}

.clearfix:after {
    visibility: hidden;
    content: "";
    display: block;
    clear: both;
}

lable {
    line-height: 40px;
    text-align: center;
}

input {
    display: block;
    border: 1px solid #ccc;
    font-size: 12px;
    margin: 0 auto;
}

.pos-ab {
    position: absolute;
}

.posrel {
    position: relative;
}

/* .le-0{left:0;background-image: url(../images/hei-137.png);background-repeat: no-repeat;background-position: 485px center;} */
.clearfix {
    *zoom:1;}

.fl {
    float: left;
}

.fr {
    float: right;
}

.p-l-60 {
    padding-left: 60px;
}

.p-l-r-60 {
    padding-left: 60px;
    padding-right: 60px;
}

.w300 {
    width: 300px;
}

.w420 {
    width: 420px;
}

.w555 {
    width: 555px;
}

.w604 {
    width: 604px;
}

.w100 {
    width: 100px;
}

.h65 {
    height: 65px;
}

.h73 {
    height: 73px;
}

.h116 {
    height: 116px;
}

.h103 {
    height: 103px;
}

.h378 {
    height: 378px !important;
}

.h789 {
    height: 789px;
}

.w206 {
    width: 206px;
}

.h326 {
    height: 326px;
}

.mauto {
    margin-left: auto;
    margin-right: auto
}

.text-transform {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.fcffffff {
    color: #ffffff;
}

.w424 {
    width: 424px;
}

.w460 {
    width: 460px;
}

.w560 {
    width: 560px;
}

.w100p {
    width: 100%;
}

.t0 {
    top: 0;
}

.r0 {
    right: 0;
}

.b0 {
    bottom: 0;
}

.l0 {
    left: 0;
}

.t20 {
    top: 20px;
}

.t86 {
    top: 86px;
}

.r26 {
    right: 26px;
}

.r363 {
    right: -10px;
}

.mr0-5 {
    margin: 0px 5px;
}

.mr0-10 {
    margin: 0px 10px;
}

.pd10 {
    padding: 10px
}

.pd10-0 {
    padding: 10px 0px;
}

.pd30-0 {
    padding: 30px 0px;
}

.pd0-14 {
    padding: 0px 14px;
}

.pdt30 {
    padding-top: 30px;
}

.pd10-20 {
    padding: 10px 20px;
}

.pd20-20 {
    padding: 20px 20px;
}

.pd30-20 {
    padding: 30px 20px;
}

.pd40-20 {
    padding: 40px 20px;
}

.pd20-40 {
    padding: 20px 40px;
}

.pd20-60 {
    padding: 20px 60px;
}

.pd20-80 {
    padding: 20px 80px;
}

.pd15 {
    padding: 15px;
}

.pdt15 {
    padding-top: 15px;
}

.pdt35 {
    padding-top: 35px;
}

.pd15-0 {
    padding: 15px 0;
}

.pd0-15 {
    padding: 0px 15px;
}

.pd20 {
    padding: 20px;
}

.pd20-0 {
    padding: 20px 0;
}

.pd20-0-0-0 {
    padding: 20px 0px 0px 0px;
}

.pd31-0-0-0 {
    padding: 31px 0px 0px 0px;
}

.pd0-0-20-0 {
    padding: 0px 0px 20px 0px;
}

.pd0-0-60-0 {
    padding: 0px 0px 60px 0px;
}

.pd20-0-60-0 {
    padding: 20px 0px 60px 0px;
}

.pd24 {
    padding: 24px;
}

.pd24-0 {
    padding: 24px 0;
}

.pd25 {
    padding: 25px;
}

.pd25-0 {
    padding: 25px 0;
}

.pd30-0 {
    padding: 30px 0;
}

.pd40 {
    padding: 40px;
}

.pd40-0 {
    padding: 40px 0;
}

.pd50 {
    padding: 50px;
}

.pd50-0 {
    padding: 50px 0;
}

.pd60-0 {
    padding: 60px 0;
}

.pd19-0 {
    padding: 19px 0;
}

.pd0-0-60-0 {
    padding: 0px 0px 60px 0;
}

.pd40-0-0-0 {
    padding: 40px 0px 0px 0;
}

.pd60-0-0-0 {
    padding: 60px 0px 0px 0;
}

.pd93 {
    padding: 93px;
}

.mrt35 {
    margin-top: 35px;
}

.mr-5 {
    margin-right: 5px;
}

.mr10 {
    margin: 10px
}

.mr10-0 {
    margin: 10px 0px;
}

.mr15 {
    margin: 15px;
}

.mr15-0 {
    margin: 15px 0;
}

.mr0-15 {
    margin: 0px 15px;
}

.mr20 {
    margin: 20px;
}

.mr20-0 {
    margin: 20px 0;
}

.mr20-0-0-0 {
    margin: 20px 0 0 0;
}

.mr24 {
    margin: 24px;
}

.mr24-0 {
    margin: 24px 0;
}

.mr25 {
    margin: 25px;
}

.mr25-0 {
    margin: 25px 0;
}

.mr40 {
    margin: 40px;
}

.mr40-0 {
    margin: 40px 0;
}

.mr40-0-0-0 {
    margin: 40px 0 0 0;
}

.mr50 {
    margin: 50px;
}

.mr50-0 {
    margin: 50px 0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.position-relative {
    position: relative;
}

.middle-contain,.header-contain,.footer-contain,.contain {
    margin-left: auto;
    margin-right: auto;
    min-width: 1200px;
}

.middle-contain:after,.w1200:after,.x-w:after,.va-title:after,.icon-list-alts:after,.type1:after,.type2bottab:after,.type1top:after,.type1bot ul:after,.type2 .type2top ul:after,.t-b-link:after,.type2bottop:after,.type2botbot:after,.type3ul ul:after,.type4:after,.type4 .type4fr .type4frtop .type4fri span.title:after,.type4 .type4top:after,.type5:after,.type5 .type5fr .type5frtop .type5fri span.title:after,.type5 .type5top:after,.type6:after,.type6 .type6fr .type6frtop .type6fri span.title:after,.type6 .type6top:after,.type7 .type7bot .type7botul ul:after,.type8 .type8bor:after,.type9 .type9mid ul:after,.type3:after,.index_type2 .index_type2top ul:after,.index_type2 .index_type2bot .index_type2bottop .index_type2bottoph2-img .index_type2bottopimg:after,.index_type3div:after,.index_type4div:after,.index_type5div:after,.index_type6div:after,.index_type7div:after,.index_type8div:after,.index_type9div:after,.index_type10div:after,.index_type11div:after,.index_type12div:after,.index_type4 .index_type4div:after,form:after,formfl:after,.botnav ul:after {
    content: "";
    clear: both;
    display: block;
}

.w100 {
    width: 100px;
    margin: 0 auto
}

.w200 {
    width: 200px;
    margin: 0 auto
}

.w300 {
    width: 300px;
    margin: 0 auto
}

.w360 {
    width: 360px;
    margin: 0 auto
}

.w400 {
    width: 400px;
    margin: 0 auto
}

.w455 {
    width: 455px;
}

.w600 {
    width: 600px;
    margin: 0 auto
}

.w800 {
    width: 800px;
    margin: 0 auto
}

.w900 {
    width: 900px;
    margin: 0 auto
}

.w1000 {
    width: 1000px;
    margin: 0 auto
}

.w1012 {
    width: 1012px;
    margin-left: auto;
    margin-right: auto;
}

.w1178 {
    width: 1178px;
    margin-left: auto;
    margin-right: auto;
}

.w1180 {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.w1200 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.w7 {
    width: 7px;
}

.w10p {
    width: 10%;
}

.w20p {
    width: 20%;
}

.w30p {
    width: 30%;
}

.w40p {
    width: 40%;
}

.w50p {
    width: 50%;
}

.w60p {
    width: 60%;
}

.w70p {
    width: 70%;
}

.w80p {
    width: 80%;
}

.type5back .w1200 {
    width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #fff;
}

.type5back .w1600 {
    width: 1600px;
    margin: 0 auto;
    border-top: 1px solid #fff;
}

.w670 {
    width: 670px;
    margin: 0 auto
}

.h20 {
    height: 20px;
}

.f-w {
    font-weight: 600;
}

.f-n {
    font-weight: normal;
}

.mr-r-5 {
    margin-right: 5px;
}

.mr-r-6 {
    margin-right: 6px;
}

.mr-r-7 {
    margin-right: 7px;
}

.mr-r-8 {
    margin-right: 8px;
}

.mr-r-9 {
    margin-right: 9px;
}

.mr-r-10 {
    margin-right: 10px;
}

.mr-r-11 {
    margin-right: 11px;
}

.mr-r-12 {
    margin-right: 12px;
}

.mr-r-13 {
    margin-right: 13px;
}

.mr-r-14 {
    margin-right: 14px;
}

.mr-r-15 {
    margin-right: 15px;
}

.mr-r-16 {
    margin-right: 16px;
}

.mr-r-17 {
    margin-right: 17px;
}

.mr-r-18 {
    margin-right: 18px;
}

.mr-r-19 {
    margin-right: 19px;
}

.mr-r-20 {
    margin-right: 20px;
}

.fz12 {
    font-size: 12px;
}

.fz18 {
    font-size: 18px;
}

.c-ffffff {
    color: #ffffff
}

.c-02c1e3 {
    color: #02c1e3
}

.c-077cb1 {
    color: #077cb1
}

.c-47b3ff {
    background-color: #47b3ff
}

.c-c1c2c4 {
    background-color: #c1c2c4
}

.c-989899 {
    background-color: #989899
}

.c-eec782 {
    color: #eec782;
}

.c-959595 {
    color: #959595;
}

.ffe747 {
    background-color: #ffe747
}

.fbfae6 {
    background-color: #fbfae6
}

.c-10e99a {
    background-color: #10e99a
}

.c-15e1d0 {
    background-color: #15e1d0
}

.e98b10 {
    background-color: #e98b10
}

.c-9d50ce {
    background-color: #9d50ce
}

.f4f4f4 {
    background-color: #f4f4f4
}

.ff475c {
    background-color: #ff475c
}

.f0f1f3 {
    background-color: #f0f1f3
}

.f7d9bc {
    background-color: #f7d9bc
}

.e60012 {
    background-color: #e60012
}

.f7bcbc {
    background-color: #f7bcbc
}

.eff0ea {
    background-color: #eff0ea
}

.f5f5f5 {
    background-color: #f5f5f5
}

.cdcdcd {
    background-color: #cdcdcd
}

.c-355eb8 {
    background-color: #355eb8
}

.l-h-24 {
    line-height: 24px;
}

.l-h-26 {
    line-height: 26px;
}

.l-h-28 {
    line-height: 28px;
}

.l-h-30 {
    line-height: 30px;
}

.l-h-32 {
    line-height: 32px;
}

.l-h-36 {
    line-height: 36px;
}

.l39 {
    line-height: 39px;
}

.l-h-40 {
    line-height: 40px;
}

.l-h-42 {
    line-height: 42px;
}

.l-h-60 {
    line-height: 60px;
}

.l-h-73 {
    line-height: 73px;
}

.l-h-50 {
    line-height: 50px;
}

.h200 {
    height: 200px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background-color: rgba(0,53,165,.2);
}

.logotype {
    margin-top: 12px;
}

.logotype img {
}

.teltype {
    margin-left: 60px;
    margin-top: 12px;
}

.teltype .fl {
    margin-right: 10px;
}

.teltype img {
    margin-top: 9px;
}

.teltype p {
    color: #ffffff;
    line-height: 24px;
}

.ibanner {
    left: 50%;
    margin-left: -960px;
    width: 1920px;
}

/* 本例子css */
.banner {
    overflow: hidden;
    position: relative;
    height: 863px;
}

.loginbanner {
    background-image: url(../images/t10.jpg);
    height: 1095px;
    background-size: cover;
    background-position: center top;
}

.banner .hd {
    height: 17px;
    overflow: hidden;
    position: absolute;
    right: 50%;
    bottom: 15px;
    z-index: 1;
    margin-right: -55px;
}

.banner .hd ul {
    overflow: hidden;
    zoom:1; float: left;
}

.banner .hd ul li {
    float: left;
    text-indent: -99999px;
    margin-right: 5px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 100px;
    width: 12px;
    height: 12px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
}

.banner .hd ul li.on {
    color: #fff;
    background-color: rgba(255,255,255,0.5);
    width: 30px;
}

.banner .bd {
    position: relative;
    height: 100%;
    z-index: 0;
    left: 50%;
    margin-left: -960px;
}

.banner .bd li {
    zoom:1; vertical-align: middle;
}

.banner .bd img {
    width: 1920px;
    height: 863px;
}
.banner .ico4{
    width: 84px;
    height: 180px;
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -557px;
    background-size: 100%;
    /* padding-top: 50px; */
    background-repeat: no-repeat;
    text-align: center;
    background-position: 0px 70px;
}
.banner .icon-more{
    -webkit-animation: arrowup 3s 1s infinite;
    animation: arrowup 3s 1s infinite;
    will-change: transform;
    cursor: pointer;
}
@-webkit-keyframes arrowup {
	0%,
	30% {
		opacity: 1
	}
	15%,
	45% {
		opacity: .5
	}
	100%,
	60% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	75% {
		opacity: .5;
		-webkit-transform: translateY(30px);
		transform: translateY(30px)
	}
}

@keyframes arrowup {
	0%,
	30% {
		opacity: 1
	}
	15%,
	45% {
		opacity: .5
	}
	100%,
	60% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	75% {
		opacity: .5;
		-webkit-transform: translateY(30px);
		transform: translateY(30px)
	}
}
.banner .ico4 p{
    color:#ffffff;
    font-size: 20px;
    letter-spacing: 6px;
}
/* 下面是前/后按钮代码，如果不需要删除即可 */
.banner_ctr {
    height: 90px;
    position: absolute;
    top: 45%;
    z-index: 2;
    left: 50%;
    margin-left: -600px;
}

.banner_ctr a {
    display: block;
    width: 47px;
    height: 79px;
    background: url('../images/slider-arrow.png') no-repeat -105px 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
}

.banner_ctr a.prev {
    left: -90px;
}

.banner_ctr a.next {
    right: -1280px;
    background-position: 15px 0px;
}

.nav {
}

.nav ul {
}

.nav ul li {
    float: left;
    width: 98px;
    text-align: center;
}

.nav ul li a {
    color: #ffffff;
    display: block;
    font-size: 18px;
}

.footnav {
}

.footnav .fntype {
}

.footnav .fntype .fl {
    width: 190px;
}

.footnav h1 {
    color: #ffffff;
    font-weight: normal;
    font-size: 18px;
}

.footnav ul {
}

.footnav ul li {
    line-height: 26px;
}

.footnav ul li a {
    color: #8899bb;
}

.ewmtype {
}

.ewmtype img {
    width: 120px;
}

.ewmtype p {
    color: #ffffff;
    font-size: 13px;
    line-height: 50px;
}

.copyright p {
    line-height: 31px;
}

.indexjpg {
    /*background-image: url(../images/001.gif);*/
    background-image: url(../images/ksbbw01.gif);
    background-repeat: no-repeat;
    height: 698px;
    background-position: center top;
}

.indexjpg .p-img {
    opacity: 0;
}

.indexjpg .imgShow{
    opacity: 1;
}

.indexjpg .p-a {
    position: absolute;
    transition: all .3s ease;
    transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px);
    opacity: 0;
    z-index: 2;
}
.indexjpg .p-a img{
    width: 100%;
    height: 100%;
    -webkit-transform: scale(.93);
    -moz-transform: scale(.93);
    -ms-transform: scale(.93);
    -o-transform: scale(.93);
    transform: scale(.93);
}
.indexjpg .p-a1 {
    right: 321px;
    bottom: 79px;
    background-image: url(../images/ico9.png);
    width: 214px;
    height: 74px;
    background-position: center;
    opacity:1 !important;
}
.indexjpg .p-a2 {
    background-image: url(../images/ico9.png);
    width: 214px;
    height: 74px;
    background-position: center;
    right: 146px;
    bottom: 165px;
    opacity:1 !important;
}
.indexjpg .p-a3 {
    background-image: url(../images/indexbottom-logo.png);
    width: 214px;
    height: 74px;
    background-position: center;
    background-repeat: no-repeat;
    right: 146px;
    bottom: 83px;
    opacity:1 !important;
}

.p1 {
    width: 260px;
    height: 202px;
    left: 183px;
    top: 29px;
    border: 1px solid #5e8dff;
    padding: 5px;
    overflow: hidden;
    opacity: 0;
    background-image: url(../images/picbg.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.p2 {
    width: 160px;
    height: 130px;
    left: 395px;
    bottom: 143px;
    border: 1px solid #5e8dff;
    padding: 5px;
    opacity: 0;
    background-image: url(../images/picbg.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.p3 {
    width: 200px;
    height: 159px;
    left: 618px;
    top: 126px;
    border: 1px solid #5e8dff;
    padding: 5px;
    opacity: 0;
    background-image: url(../images/picbg.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.p4 {
    width: 161px;
    height: 130px;
    right: 125px;
    top: 131px;
    border: 1px solid #5e8dff;
    padding: 5px;
    opacity: 0;
    background-image: url(../images/picbg.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.p5 {
    background-image: url(../images/p5.png);
    width: 131px;
    height: 74px;
    /* right: 321px; */
    /* bottom: 79px; */
    margin-left: auto;
    margin-right: auto;

}
.p5 a{
    text-indent:-9999999px;
    display:block;
    line-height: 74px;
    width: 100%;
    height: 100%;
}
.indexjpg .p-a:hover{
    transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
    opacity: 1;
}


.star{
    position: absolute;
    width:30px;
    height:30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}
.s1{
    left: 443px;
    top: 232px;
}
.s2{
    left: 376px;
    top: 458px;
}
.s3{
    left: 556px;
    top: 390px;
}
.s4{
    left: 638px;
    top: 548px;
}
.s5{
    left: 628px;
    top: 89px;
}
.s6{
    right: 343px;
    top: 306px;
}
.s7{
    right: 281px;
    top: 421px;
}
.s8{
    right: 220px;
    top: 278px;
}
.s9{
    right: 67px;
    top: 361px;
}

.s1:hover + .p1,
.s2:hover + .p2,
.s3:hover + .p2,
.s4:hover + .p2,
.s5:hover + .p3,
.s6:hover + .p3,
.s7:hover + .p4,
.s8:hover + .p4,
.s9:hover + .p4{
    transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
    opacity: 1 !important;
}

.p6 {
    background-image: url(../images/p6.png);
    width: 131px;
    height: 74px;
    margin-left: auto;
    margin-right: auto;
   
}
.p6 a{
    text-indent:-9999999px;
    display:block;
    line-height: 74px;
}
.p1 a,.p2 a,.p3 a,.p4 a{
    /* text-indent:-9999999px; */
    display:block;
    /* position: relative; */
    height: 100%;
    width: 100%;
    }

.list_article_type {
}

.list_article_type ul {
}

.list_article_type .mb60 {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.list_article_type ul li .img {width: 777px;overflow: hidden;height: 394px;}
.list_article_type ul li .img img{width:777px;height:394px;}
.list_article_type ul li .txt {
    width: 309px;
    padding: 0px 72px 0px 42px;
}

.list_article_type ul li .txt span {
    display: block;
}

.list_article_type ul li .txt span.title {
    margin-top: 22px;
    font-size: 36px;
    border-bottom: 5px solid #71809f;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: '微软雅黑'
}

.list_article_type ul li .txt span.desc {
    margin-top: 48px;
    font-size: 17px;
    height: 191px;
    line-height: 28px;
}

.list_article_type ul li .txt a {
    display: block;
    width: 226px;
    height: 45px;
    line-height: 45px;
    background-color: #71809f;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.list_fa_type {
}

.list_fa_type ul {
}

.list_fa_type ul li {
    /* background-color: #ffffff; */
}

.list_fa_type ul li .img {
    height: 458px;
    position: relative;
}

.list_fa_type ul li .txt {
    width: 817px;
    padding: 19px 50px;
    background-color: #ffffff;
    height: 420px;
}

.list_fa_type ul li span.title {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 20px;
}

.list_fa_type ul li .txt span.title {
    font-size: 36px;
    /* border-bottom: 2px solid #71809f; */
    width: 530px;
    position: relative;
    height: 70px;
}

.list_fa_type ul li .txt span.title:after {
    content: "";
    width: 143px;
    height: 2px;
    background-color: #71809f;
    position: absolute;
    bottom: 0;
    left: 0;
}

.list_fa_type ul li .txt .desc {
    font-size: 17px;
    line-height: 28px;
}
.list_fa_type ul li .txt .desc img{
    max-width: 100% !important;
}

.list_fa_type ul li .txt .desc p {
    margin-bottom: 15px;
}

.list_fa_type ul li .txt .desc ul {
}

.list_fa_type ul li .txt .desc ul li {
    position: relative;
    padding-left: 15px;
}

.list_fa_type ul li .txt .desc ul li:last-child {
    margin-bottom: 0;
}

.list_fa_type ul li .txt .desc ul li:after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    background-color: #333333;
    left: 0;
    top: 9px;
}

.list_fa_type ul li .txt a {
    display: block;
    width: 226px;
    height: 45px;
    line-height: 45px;
    background-color: #71809f;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.list_sb_type .fl {
    margin-bottom: 40px;
}

.list_sb_type .fl .title {
    height: 49px;
    line-height: 49px;
    background-color: #f2f5f9;
    padding-left: 20px;
    font-size: 19px;
    color: #ef8000;
    font-weight: 600;
}

.list_sb_type .fl ul {
}

.list_sb_type .fl ul li {
    background-color: #ffffff;
    height: 62px;
    line-height: 24px;
    padding-left: 20px;
}

.list_sb_type .fl ul li.cur,.list_sb_type .fl ul li:hover {
    background-color: #f2f5f9;
}

.list_sb_type .fl ul li:hover a,.list_sb_type .fl ul li.cur a {
    color: #333333;
}

.list_sb_type .fl ul li a {
    display: block;
    padding-top: 9px;
    padding-right: 9px;
    font-size: 17px;
    color: #333333;
}

.list_sb_type .fl ul li a span {
    display: block;
}

.list_sb_type .fl ul li a span.en {
}

.list_sb_type .fl ul li a span.cn {
}

.list_sb_type .fl ul li.cur a,.list_sb_type .fl ul li:hover a {
}

.list_sb_type .fr {
}

.list_sb_type .fr ul {
    margin-right: -18px;
}

.list_sb_type .fr ul li {
    float: left;
    width: 407px;
    height: 544px;
    margin-right: 18px;
    margin-bottom: 62px;
}

.list_sb_type .fr ul li a {
}

.list_sb_type .fr ul li a img {
}

.list_sb_type .fl {
    margin-bottom: 40px;
}

.list_sb_type .fl .title {
    height: 49px;
    line-height: 49px;
    background-color: #f2f5f9;
    padding-left: 20px;
    font-size: 19px;
    color: #ef8000;
    font-weight: 600;
}

.list_sb_type .fl ul {
}

.list_sb_type .fl ul li {
    background-color: #ffffff;
    height: 62px;
    line-height: 24px;
    padding-left: 20px;
}

.list_sb_type .fl ul li.cur,.list_sb_type .fl ul li:hover {
    background-color: #f2f5f9;
}

.list_sb_type .fl ul li:hover a,.list_sb_type .fl ul li.cur a {
    color: #333333;
}

.list_sb_type .fl ul li a {
    display: block;
    padding-top: 9px;
    padding-right: 9px;
    font-size: 17px;
    color: #333333;
}

.list_sb_type .fl ul li a span {
    display: block;
}

.list_sb_type .fl ul li a span.en {
}

.list_sb_type .fl ul li a span.cn {
}

.list_sb_type .fl ul li.cur a,.list_sb_type .fl ul li:hover a {
}

.list_sb_type .fr {
}

.list_sb_type .fr ul {
    margin-right: -18px;
}

.list_sb_type .fr ul li {
    float: left;
    width: 407px;
    height: 544px;
    margin-right: 18px;
    margin-bottom: 62px;
}

.list_sb_type .fr ul li a {
}

.list_sb_type .fr ul li a img {
}

.list_sb_type .fr .article_content_p p {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
}

.article_sb_type .fl {
    margin-bottom: 40px;
}

.article_sb_type .fl .title {
    height: 49px;
    line-height: 49px;
    background-color: #f2f5f9;
    padding-left: 20px;
    font-size: 19px;
    color: #ef8000;
    font-weight: 600;
}

.article_sb_type .fl ul {
}

.article_sb_type .fl ul li {
    background-color: #ffffff;
    height: 40px;
    line-height: 24px;
    padding-left: 20px;
}

.article_sb_type .fl ul li.cur,.article_sb_type .fl ul li:hover {
    background-color: #f2f5f9;
}

.article_sb_type .fl ul li:hover a,.article_sb_type .fl ul li.cur a {
    color: #333333;
}

.article_sb_type .fl ul li a {
    display: block;
    /* padding-top: 9px; */
    /* padding-right: 9px; */
    font-size: 17px;
    color: #333333;
}

.article_sb_type .fl ul li a span {
    display: block;
}

.article_sb_type .fl ul li a span.en {
}

.article_sb_type .fl ul li a span.cn {
}

.article_sb_type .fl ul li.cur a,.article_sb_type .fl ul li:hover a {
}

.article_sb_type .fr {
}

.article_sb_type .fr ul {
    margin-right: -18px;
}

.article_sb_type .fr ul li {
    float: left;
    width: 407px;
    height: 544px;
    margin-right: 18px;
    margin-bottom: 62px;
}

.article_sb_type .fr ul li a {
}

.article_sb_type .fr ul li a img {
}

.article_sb_type .fl {
    margin-bottom: 40px;
}

.article_sb_type .fl .title {
    height: 49px;
    line-height: 49px;
    background-color: #f2f5f9;
    padding-left: 20px;
    font-size: 19px;
    color: #ef8000;
    font-weight: 600;
}

.article_sb_type .fl ul {
}

.article_sb_type .fl ul li {
    background-color: #ffffff;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.article_sb_type .fl ul li.cur,.article_sb_type .fl ul li:hover {
    background-color: #f2f5f9;
}

.article_sb_type .fl ul li:hover a,.article_sb_type .fl ul li.cur a {
    color: #333333;
}

.article_sb_type .fl ul li a {
    display: block;
    /* padding-top: 9px; */
    /* padding-right: 9px; */
    font-size: 17px;
    color: #333333;
}

.article_sb_type .fl ul li a span {
    display: block;
}

.article_sb_type .fl ul li a span.en {
}

.article_sb_type .fl ul li a span.cn {
}

.article_sb_type .fl ul li.cur a,.article_sb_type .fl ul li:hover a {
}

.article_sb_type .fr {
}

.article_sb_type .fr ul {
    margin-right: -18px;
}

.article_sb_type .fr ul li {
    float: left;
    width: 407px;
    height: 544px;
    margin-right: 18px;
    margin-bottom: 62px;
}

.article_sb_type .fr ul li a {
}

.article_sb_type .fr ul li a img {
}

.article_sb_type .fr .article_content_p p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 15px;
}

.article_sb_type .sb_type {
}

.article_sb_type .sb_type ul {
}

.article_sb_type .sb_type ul li {
    float: none;
    width: 911px;
    height: auto;
    margin-right: 0;
}

.dataTables_paginate{
    width: 100%;
    height: 30px;
    padding-bottom: 30px;
}
.dataTables_paginate .pagination{
    min-width: 100px;
    float: right;
    display: block;
    margin-right: 90px;
}
.dataTables_paginate .pagination li{
    margin: 0 5px;
    min-width: 20px;
    float: left;
    text-align: center;
}
.dataTables_paginate .pagination li.active{
    border-bottom: 1px solid #666;
}
.span_count{
    position: absolute;
    right: 30px;
    bottom: 39px;
}

#allmap,#allmap1,#allmap2,#allmap3,#allmap4,#allmap5,#allmap6,#allmap7,#allmap8 {
    width: 100%;
    height: 500px;
}

.maptype {
    margin-top: 80px;
}

.maptype .bd ul {
    position: relative;
}

.maptitle {
    margin: 0px 0px 20px 0px;
}

.maptitle ul {
}

.maptitle ul li {
    float: left;
    width: 100px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    background-color: #ffffff;
    font-size: 17px;
}

.maptitle ul li a {
    display: block;
}

.maptitle ul li.on a,.maptitle ul li:hover a {
    background-color: #00b1f0;
    color: #ffffff;
}

#outer-box {
    height: 680px;
    padding-right: 396px;
}

#container {
    height: 100%;
    width: 100%;
}

#panel {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 396px;
    z-index: 999;
    background-color: #ffffff;
    height: 100%;
    overflow-y: scroll;
}

#my-list {
    margin: 0;
    padding: 0;
}

#intro {
    background-color: #f2f5f9;
    color: #ef8000;
    line-height: 42px;
    height: 42px;
    padding-left: 20px;
    font-size: 19px;
    font-weight: normal;
}

#my-list li {
    /* margin: 10px 0; */
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    font-size: 14px;
    line-height: 30px;
    /* height: 60px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

#my-list li span {
    display: block;
    line-height: 24px;
}

#my-list li span.title {
    color: #033a8d;
}

#my-list li i {
    top: 0;
    left: 10px;
    background: url(../images/icon.png) -130px -272px no-repeat;
    color: #fff;
    width: 23px;
    height: 30px;
    font-size: 12px;
    display: block;
    text-align: center;
    font-style: normal;
    position: absolute;
    line-height: 24px;
    margin-top: 10px;
}

#my-list li p {
    margin: 5px;
}

#my-list li.selected {
    background: #ededed;
    color: #333333;
}

.selected .amap-marker-label {
    background: green;
    color: #fff;
    border-color: #ccc;
}

#panel h3 {
    margin: 10px 0;
    font-weight: normal;
}

#panel dd {
    margin: 5px 5px;
}

#panel dl {
    margin: 7px 0;
}

.hidd {
    display: none;
}

.over-y {
    overflow-x: scroll;
    /* width: 20000px; */
}

.over-yy {
    width: 3600px;
    padding: 20px 50px;
}

.over-y ul {
    width: 360px;
    background-image: url(../images/yyyy.png);
    background-position: right center;
    background-repeat: no-repeat;
    /* background-color: #f00; */
    height: 210px;
    display: block;
}

.over-y ul li {
    position: relative;
    line-height: 30px;
    background-color: transparent;
    width: 320px;
}

.over-y ul li a {
    padding-left: 18px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.over-y ul li a:before {
    content: "+";
    position: absolute;
    left: 0;
    top: 0;
}

.amap-simple-marker-def-style .amap-simple-marker-label {
    color: #ffffff !important;
}

.logintype {
    font-weight: 400;
    padding-top: 125px;
    padding-bottom: 110px;
    position: relative;
    /* background-color: #ffffff; */
}

.logintype lable {
    padding: 19px 55px;
    background: rgba(255,255,255,.6);
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 300px;
    display: block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* opacity: .6; */
}

.logintype dl {
}

.logintype dl dd {
    line-height: 100px;
    height: 100px;
}

.logintype dl dd i {
    display: block;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 37px;
}

.logintype dl dd i.ico {
}

.logintype dl dd .fl {
}





.list_fa_type {
}

.list_fa_type ul {
}

.list_fa_type ul li {
    /* background-color: #ffffff; */
}

.list_fa_type ul li .img {
    height: 458px;
    position: relative;
    width: 283px;
    overflow: hidden;
}



.list_fa_type ul li span.title {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 50px;
    color: #ffffff;
    letter-spacing: 20px;
}

.list_fa_type ul li .txt span.title {
    font-size: 36px;
    /* border-bottom: 2px solid #71809f; */
    width: 530px;
    position: relative;
    height: 70px;
}

.list_fa_type ul li .txt span.title:after {
    content: "";
    width: 143px;
    height: 2px;
    background-color: #71809f;
    position: absolute;
    bottom: 0;
    left: 0;
}

.list_fa_type ul li .txt .desc {
    font-size: 17px;
    line-height: 28px;
}

.list_fa_type ul li .txt .desc p {
    margin-bottom: 15px;
}

.list_fa_type ul li .txt .desc ul {
}

.list_fa_type ul li .txt .desc ul li {
    position: relative;
    padding-left: 15px;
}

.list_fa_type ul li .txt .desc ul li:last-child {
    margin-bottom: 0;
}

.list_fa_type ul li .txt .desc ul li:after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    background-color: #333333;
    left: 0;
    top: 9px;
}

.list_fa_type ul li .txt a {
    display: block;
    width: 226px;
    height: 45px;
    line-height: 45px;
    background-color: #71809f;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.list_sb_type .fl {
    margin-bottom: 40px;
}

.list_sb_type .fl .title {
    height: 49px;
    line-height: 49px;
    background-color: #f2f5f9;
    padding-left: 20px;
    font-size: 19px;
    color: #ef8000;
    font-weight: 600;
}

.list_sb_type .fl ul {
}

.list_sb_type .fl ul li {
    background-color: #ffffff;
    height: 62px;
    line-height: 24px;
    padding-left: 20px;
}

.list_sb_type .fl ul li.cur,.list_sb_type .fl ul li:hover {
    background-color: #f2f5f9;
}

.list_sb_type .fl ul li:hover a,.list_sb_type .fl ul li.cur a {
    color: #333333;
}

.list_sb_type .fl ul li a {
    display: block;
    padding-top: 9px;
    padding-right: 9px;
    font-size: 17px;
    color: #333333;
}

.list_sb_type .fl ul li a span {
    display: block;
}

.list_sb_type .fl ul li a span.en {
}

.list_sb_type .fl ul li a span.cn {
}

.list_sb_type .fl ul li.cur a,.list_sb_type .fl ul li:hover a {
}

.list_sb_type .fr {
}

.list_sb_type .fr ul {
    margin-right: -18px;
}

.list_sb_type .fr ul li {
    float: left;
    width: 407px;
    height: 544px;
    margin-right: 18px;
    margin-bottom: 62px;
}

.list_sb_type .fr ul li a {
}

.list_sb_type .fr ul li a img {
}

.list_sb_type .fl {
    margin-bottom: 40px;
}

.list_sb_type .fl .title {
    height: 49px;
    line-height: 49px;
    background-color: #f2f5f9;
    padding-left: 20px;
    font-size: 19px;
    color: #ef8000;
    font-weight: 600;
}

.list_sb_type .fl ul {
}

.list_sb_type .fl ul li {
    background-color: #ffffff;
    height: 62px;
    line-height: 24px;
    padding-left: 20px;
}

.list_sb_type .fl ul li.cur,.list_sb_type .fl ul li:hover {
    background-color: #f2f5f9;
}

.list_sb_type .fl ul li:hover a,.list_sb_type .fl ul li.cur a {
    color: #333333;
}

.list_sb_type .fl ul li a {
    display: block;
    padding-top: 9px;
    padding-right: 9px;
    font-size: 17px;
    color: #333333;
}

.list_sb_type .fl ul li a span {
    display: block;
}

.list_sb_type .fl ul li a span.en {
}

.list_sb_type .fl ul li a span.cn {
}

.list_sb_type .fl ul li.cur a,.list_sb_type .fl ul li:hover a {
}

.list_sb_type .fr {
}

.list_sb_type .fr ul {
    margin-right: -18px;
}

.list_sb_type .fr ul li {
    float: left;
    width: 407px;
    height: 544px;
    margin-right: 18px;
    margin-bottom: 62px;
}

.list_sb_type .fr ul li a {
}

.list_sb_type .fr ul li a img {
}

.list_sb_type .fr .article_content_p p {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
}

.article_sb_type .fl {
    margin-bottom: 40px;
}

.article_sb_type .fl .title {
    height: 49px;
    line-height: 49px;
    background-color: #f2f5f9;
    padding-left: 20px;
    font-size: 19px;
    color: #ef8000;
    font-weight: 600;
}

.article_sb_type .fl ul {
}

.article_sb_type .fl ul li {
    background-color: #ffffff;
    height: 40px;
    line-height: 24px;
    padding-left: 20px;
}

.article_sb_type .fl ul li.cur,.article_sb_type .fl ul li:hover {
    background-color: #f2f5f9;
}

.article_sb_type .fl ul li:hover a,.article_sb_type .fl ul li.cur a {
    color: #333333;
}

.article_sb_type .fl ul li a {
    display: block;
    /* padding-top: 9px; */
    /* padding-right: 9px; */
    font-size: 17px;
    color: #333333;
}

.article_sb_type .fl ul li a span {
    display: block;
}

.article_sb_type .fl ul li a span.en {
}

.article_sb_type .fl ul li a span.cn {
}

.article_sb_type .fl ul li.cur a,.article_sb_type .fl ul li:hover a {
}

.article_sb_type .fr {
}

.article_sb_type .fr ul {
    margin-right: -18px;
}

.article_sb_type .fr ul li {
    float: left;
    width: 407px;
    height: 544px;
    margin-right: 18px;
    margin-bottom: 62px;
}

.article_sb_type .fr ul li a {
}

.article_sb_type .fr ul li a img {
}

.article_sb_type .fl {
    margin-bottom: 40px;
}

.article_sb_type .fl .title {
    height: 49px;
    line-height: 49px;
    background-color: #f2f5f9;
    padding-left: 20px;
    font-size: 19px;
    color: #ef8000;
    font-weight: 600;
}

.article_sb_type .fl ul {
}

.article_sb_type .fl ul li {
    background-color: #ffffff;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.article_sb_type .fl ul li.cur,.article_sb_type .fl ul li:hover {
    background-color: #d9bb97;
}

.article_sb_type .fl ul li:hover a,.article_sb_type .fl ul li.cur a {
    color: #333333;
}

.article_sb_type .fl ul li a {
    display: block;
    /* padding-top: 9px; */
    /* padding-right: 9px; */
    font-size: 17px;
    color: #333333;
}

.article_sb_type .fl ul li a span {
    display: block;
}

.article_sb_type .fl ul li a span.en {
}

.article_sb_type .fl ul li a span.cn {
}

.article_sb_type .fl ul li.cur a,.article_sb_type .fl ul li:hover a {
}

.article_sb_type .fr {
}

.article_sb_type .fr ul {
    margin-right: -18px;
}

.article_sb_type .fr ul li {
    float: left;
    width: 407px;
    height: 544px;
    margin-right: 18px;
    margin-bottom: 62px;
}

.article_sb_type .fr ul li a {
}

.article_sb_type .fr ul li a img {
}

.article_sb_type .fr .article_content_p p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 15px;
}

.article_sb_type .sb_type {
}

.article_sb_type .sb_type ul {
}

.article_sb_type .sb_type ul li {
    float: none;
    width: 911px;
    height: auto;
    margin-right: 0;
}

#allmap,#allmap1,#allmap2,#allmap3,#allmap4,#allmap5,#allmap6,#allmap7,#allmap8 {
    width: 100%;
    height: 500px;
}







.maptitle ul {
}

.maptitle ul li {
    float: left;
    width: 100px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    background-color: #ffffff;
    font-size: 17px;
}

.maptitle ul li a {
    display: block;
}

.maptitle ul li.on a,.maptitle ul li:hover a {
    background-color: #00b1f0;
    color: #ffffff;
}















#my-list li span.desc2{
    color:#999999;
}


#my-list li p {
    margin: 5px;
}


.selected .amap-marker-label {
    background: green;
    color: #fff;
    border-color: #ccc;
}

#panel h3 {
    margin: 10px 0;
    font-weight: normal;
}

#panel dd {
    margin: 5px 5px;
}

#panel dl {
    margin: 7px 0;
}

.hidd {
    display: none;
}








.amap-simple-marker-def-style .amap-simple-marker-label {
    color: #ffffff !important;
}

.logintype {
    font-weight: 400;
    padding-top: 125px;
    padding-bottom: 110px;
    position: relative;
    /* background-color: #ffffff; */
}

.logintype lable {
    padding: 19px 55px;
    background: rgba(255,255,255,.6);
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 300px;
    display: block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* opacity: .6; */
}

.logintype dl {
}

.logintype dl dd {
    line-height: 100px;
    height: 100px;
    border-bottom: 1px solid #ffffff;
}

.logintype dl dd i {
    display: block;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 37px;
}

.logintype dl dd i.ico {
}

.logintype dl dd .fl {
    height: 100px;
    margin-right: 15px;
}

.logintype dl dd .fl input {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #333333;
    display: block;
    line-height: 30px;
    margin-top: 35px;
}

.logintype dl dd .fl input:focus {
}

.logintype dl dd i.ico_1 {
    background-image: url(../images/ico1.png)
}

.logintype dl dd i.ico_2 {
    background-image: url(../images/ico2.png)
}

.logintype dl dd i.ico_3 {
    background-image: url(../images/ico3.png)
}

{
    height: 100px;
    margin-right: 15px;
}

.logintype dl dd i.ico_1 {
    background-image: url(../images/ico1.png)
}

.logintype dl dd i.ico_2 {
    background-image: url(../images/ico2.png)
}

.logintype dl dd i.ico_3 {
    background-image: url(../images/ico3.png)
}

.remnum {
    line-height: 36px;
}

.remnum {
    color: #ffffff;
}

.remnum .fl {
    margin-right: 5px;
    font-size: 20px;
}

.remnum input {
    margin-top: 11px;
    width: 16px;
    height: 16px;
}

.loginbtn {
}

.loginbtn input {
    border: none;
    background-color: #64caff;
    color: #ffffff;
    width: 100%;
    height: 63px;
    line-height: 63px;
    font-size: 30px;
    border-radius: 5px;
}

.crebtn {
}

.crebtn p {
    color: #ffffff;
    font-size: 28px;
    text-align: center;
}

.w414 {
    width: 414px;
    margin-left: auto;
    margin-right: auto;
}

.aricle_arrr {
    padding-bottom: 60px;
}

.aricle_arrr h1 {
    font-size: 36px;
    border-bottom: 3px solid #71809f;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.aricle_arrr p {
    text-align: justify;
    text-indent: 2em;
    line-height: 30px;
}

.fhbtn {
    margin: 40px 0;
    height: 51px;
}

.fhbtn a {
    border: 1px solid #081227;
    padding: 15px 40px;
    border-radius: 5px;
    display: inline-block;
    background-color: transparent;
}

.fhbtn a:hover {
    background-color: #081227;
    color: #ffffff;
    border: 1px solid #081227
}
