<div class="footer navbar-default navbar-fixed-bottom pd10-0 c-ffffff" >
  <div class="collapse" id="collapseExample">
    <div class="well">
      <div class="container">
        <div class="row">
          <div class="col-xs-2 col-md-5 xs-1-s-ffffff ls1" style="width:20%"><a href="{:U('Mobile/Activity/index')}">活动</a>
          </div>
          <div class="col-xs-2 col-md-5 xs-1-s-ffffff ls1" style="width:20%"><a href="{:U('Mobile/Position/index')}">点位</a>
          </div>
          <div class="col-xs-2 col-md-5 xs-1-s-ffffff ls1" style="width:20%"><a href="{:U('Mobile/Solution/index')}">方案</a>
          </div>
          <div class="col-xs-2 col-md-5 xs-1-s-ffffff ls1" style="width:20%"><a href="{:U('Mobile/Product/index')}">设备</a>
          </div>
          <div class="col-xs-2 col-md-5 xs-1-s-ffffff ls1" style="width:20%"><a href="{:U('Mobile/Cooperation/index')}">合作</a>
          </div>                                                
        </div>
      </div>
    </div>
  </div>
</div>