     <nav id="header" class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="25">
        <div class="container">
          
          <div class="navbar-header">
            <a id="nav-toggle" href="{:U('Mobile/Login/index')}" class="nav-toggle-action collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              注册/登录
            </a>          
            <a class="o-logo" href="{:U('Mobile/Index/index')}"></a>
          </div>


        </div>
    </nav> 