<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>{$seotitle}</title>
  <meta name="keywords" content="{$keywords}" />
  <meta name="description" content="{description}" />
  <link rel="stylesheet" href="__PUBLIC__/laile/css/style.css" />
  <script type="text/javascript">
    var browser = {
      versions: function () {
        var u = navigator.userAgent,
          app = navigator.appVersion;
        return { //移动终端浏览器版本信息
          mobile: (!!u.match(/AppleWebKit.*Mobile/) || !!u.match(/Windows Phone/) || !!u.match(/Android/) || !!u.match(
            /MQQBrowser/)) && !u.match(/iPad/) //是否为移动终端
        };
      }()
    }
  </script>
</head>
<body>
  <div class="header h73 l-h-73">
    <div class="w1200 clearfix">
      <div class="fl logotype">
        <a href="/">
          <img src="__PUBLIC__/laile/images/logo.png" alt="" />
        </a>
      </div>
      <div class="fl teltype">
        <div class="clearfix">
          <div class="fl">
            <img src="__PUBLIC__/laile/images/tel.png" alt="" />
          </div>
          <div class="fl">
            <p class="fz12">
              服务热线
            </p>
            <p class="fz18">
              400 900 8698
            </p>
          </div>
        </div>
      </div>
      <div class="fr nav">
        <ul class="clearfix">
          <volist name="channelTop" id="v">
            <li>
              <a href="{:U($v['link'])}">{$v.name}</a>
            </li>
          </volist>
        </ul>
      </div>
    </div>
  </div>
  <div class="banner dowebok">
    <div class="hd">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="bd">
      <ul>
        <volist name="image" id="v">
          <li>
            <a href="{:U($v['link'])}">
              <img src="{$v.image_path}" />
            </a>
          </li>
        </volist>
      </ul>
    </div>
    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
    <div class="banner_ctr">
      <a class="prev" href="javascript:void(0)"></a>
      <a class="next" href="javascript:void(0)"></a>
    </div>
    <div class="ico4">
      <p><a href="#1"><img class="icon-more" src="__PUBLIC__/laile/images/20170826225552.png" alt=""></a></p>
    </div>
  </div>
  <div id="1" class="middlle indexjpg p-r">
    <div class="w1200 h649">
      <div class="" style="height:100%;">
        <volist name="activity" id="v" key="k">

        <div class="p-a p-img p{$k}">
          <a href="{:U('Activity/detail',array('id'=>$v['id']))}">
            <img src="{$v.image_path}"
            alt="" />
          </a>
        </div>
        </volist>

        <div class="star s1"></div>
        <div class="star s2"></div>
        <div class="star s3"></div>
        <div class="star s4"></div>
        <div class="star s5"></div>
        <div class="star s6"></div>
        <div class="star s7"></div>
        <div class="star s8"></div>
        <div class="star s9"></div>
      </div>
      <div class="p-a p-a1">
        <div class="p5">
          <span></span>
        </div>
      </div>
      <div class="p-a p-a2">
        <div class="p6">
          <a href="{:U('Cooperation/index')}"></a>
        </div>
      </div>
      <div class="p-a p-a3"></div>
    </div>
  </div>
  <div class="footer h326 bg-c-081227 pdt30">
    <div class="footnav">
      <div class="w1200">
        <div class="fl fntype">
          <div class="clearfix">
            <volist name="channelFoot" id="vo">
              <div class="fl">
                <h1>
                  <a href="{:U($vo['link'])}" style="color:#ffffff">{$vo.name}</a>
                </h1>
                <ul>
                  <volist name="vo.child" id="voo">
                    <li>
                      <a href="{:U($vo['link'],['id'=>$voo['id']])}">{$voo.name}</a>
                    </li>
                  </volist>
                </ul>
              </div>
            </volist>
          </div>
        </div>
        <div class="fr ewmtype">
          <div class="text-center">
            <div>
              <img src="__PUBLIC__/laile/images/ewm.png" alt="" />
            </div>
            <div class="text-center">
              <p>扫一扫添加微信</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright pd30-0">
      <div class="w1200 fcffffff">{$Think.CONFIG.footer} {$Think.CONFIG.footer-address}</div>
    </div>
  </div>
  <script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="__PUBLIC__/laile/js/jquery.SuperSlide.2.1.1.js"></script>
  <script type="text/javascript">
    jQuery(".banner").slide({
      mainCell: ".bd ul",
      trigger: "click",
      effect: "fold",
      autoPlay: false,
      easing: "easeOutCirc"
    });
    jQuery(".banner").hover(function () {
      $(".banner .prev").stop(true, true).animate({
        left: '0',
        opacity: '1'
      })
      $(".banner .next").stop(true, true).animate({
        right: '-1200',
        opacity: '1'
      })
    }, function () {
      $(".banner .prev").stop(true, true).animate({
        left: '-90',
        opacity: '0'
      })
      $(".banner .next").stop(true, true).animate({
        right: '-1280',
        opacity: '0'
      })
    }); /*鼠标移过，左右按钮显示*/
  </script>
  <script>
    $(document).ready(function () {
        var imgs = $(".p-img");
      $(".p-a1").click(function () {
          if(imgs.hasClass('imgShow')){
              imgs.removeClass("imgShow");
          }else{
              imgs.addClass("imgShow");
          }
      });

      function imgHover(m,n){
          m.hover(function () {
              n.css('opacity', 1);
          },function () {
              n.css('opacity', 0);
          })
      }

      imgHover($('.s1'), $('.p1'));
      imgHover($('.s2'), $('.p2'));
      imgHover($('.s3'), $('.p2'));
      imgHover($('.s4'), $('.p2'));
      imgHover($('.s5'), $('.p3'));
      imgHover($('.s7'), $('.p4'));
      imgHover($('.s6'), $('.p3'));
      imgHover($('.s8'), $('.p4'));
      imgHover($('.s9'), $('.p4'));
    });
  </script>
</body>
</html>