<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>定位查询</title>
	<meta name="keywords" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="__PUBLIC__/laile/css/style.css" />
</head>
<body style="background-color: #eeeeee;">
<div class="header h73 l-h-73">

	<div class="w1200 clearfix">

		<div class="fl logotype">

			<a href="/"><img src="__PUBLIC__/laile/images/logo.png" alt="" /></a>

		</div>

		<div class="fl teltype">

			<div class="clearfix">

				<div class="fl"><img src="__PUBLIC__/laile/images/tel.png" alt="" /></div>

				<div class="fl">

					<p class="fz12">

						服务热线

					</p>

					<p class="fz18">

						400 900 8698

					</p>

				</div>

			</div>

		</div>

		<div class="fr nav">

			<ul class="clearfix">
				<volist name="channel" id="v">
					<li><a href="{:U($v['link'])}">{$v.name}</a></li>
				</volist>

			</ul>

		</div>

	</div>

</div>
<div class="middlle p-r maptype slideTxtBox">
	<div class="clearfix maptitle">
		<div class="w1200 hd">
			<ul class="clearfix">
				<li class="on"><a href="map.html">深圳</a></li>
				<li><a href="map1.html">广州</a></li>
				<li><a href="javascript:;">佛山</a></li>
				<li><a href="javascript:;">东莞</a></li>
				<li><a href="javascript:;">珠海</a></li>
				<li><a href="javascript:;">西安</a></li>
				<li><a href="javascript:;">南昌</a></li>
				<li><a href="javascript:;">长沙</a></li>
			</ul>
		</div>
	</div>
	<div class="clearfix bd">
		<ul>
			<div id="outer-box">
				<div id="container">
				</div>
				<div id="panel">
					<div id="intro">
						<h3>定位查询</h3>
					</div>
					<ul id="my-list"></ul>
				</div>
			</div>
		</ul>
	</div>
</div>
<div class="footer h326 bg-c-081227 pdt30">

	<div class="footnav">

		<div class="w1200">

			<div class="fl fntype">

				<div class="clearfix">

					<div class="fl">

						<h1>选购及了解</h1>

						<ul>

							<li><a href="/shebeizhanshi/20170818/16.html">无人售货超市</a></li><li><a href="/shebeizhanshi/20170818/17.html">体验店</a></li><li><a href="/shebeizhanshi/20170818/18.html">饮料机</a></li><li><a href="/shebeizhanshi/20170818/19.html">综合食品柜</a></li><li><a href="/shebeizhanshi/20170818/20.html">便利柜</a></li><li><a href="/shebeizhanshi/20170818/21.html">生鲜机</a></li><li><a href="/shebeizhanshi/20170818/22.html">橙汁机</a></li><li><a href="/shebeizhanshi/20170818/23.html">椰汁机</a></li>

						</ul>

					</div>

					<div class="fl">

						<h1>设备培训</h1>

						<ul>

							<li><a href="/jiejuefangan/20170818/8.html">社区解决方案</a></li><li><a href="/jiejuefangan/20170818/9.html">机场解决方案</a></li><li><a href="/jiejuefangan/20170818/10.html">地铁解决方案</a></li><li><a href="/jiejuefangan/20170818/11.html">商场解决方案</a></li><li><a href="/jiejuefangan/20170818/12.html">物业解决方案</a></li><li><a href="/jiejuefangan/20170818/13.html">景区解决方案</a></li><li><a href="/jiejuefangan/20170818/14.html">火车站解决方案</a></li><li><a href="/jiejuefangan/20170818/15.html">游乐场解决方案</a></li>

						</ul>

					</div>

					<div class="fl">

						<h1>账户</h1>

						<ul>

							<li><a href="/zhuce_denglu/">内部账户</a></li>

							<li><a href="/zhuce_denglu/">消费者账户</a></li>

						</ul>

					</div>

					<div class="fl">

						<h1>来乐价值观</h1>

						<ul>
							<li><a href="/jiazhiguan/20170822/36.html">环境责任</a></li><li><a href="/jiazhiguan/20170822/37.html">隐私</a></li><li><a href="/jiazhiguan/20170822/38.html">服务商责任</a></li><li><a href="/jiazhiguan/20170822/39.html">供应商责任</a></li>
						</ul>

					</div>

					<div class="fl">

						<h1>关于来乐</h1>

						<ul>
							<li><a href="/guanyulaile/20170822/40.html">来乐管理层</a></li>

							<li><a href="/guanyulaile/20170822/40.html">工作机会</a></li>

							<li><a href="/guanyulaile/20170822/40.html">活动</a></li>

						</ul>

					</div>

				</div>

			</div>

			<div class="fr ewmtype">

				<div class="text-center">

					<div>

						<img src="__PUBLIC__/laile/images/ewm.png" alt="" />

					</div>

					<div class="text-center">

						<p>扫一扫添加微信</p>

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="copyright pd30-0">

		<div class="w1200 fcffffff"><p>Copyright 2017 深圳市来乐智能股份有限公司 All Rights Reserved   粤ICP备XXXXX号-1 技术支持：启铭设计</p></div>

	</div>

</div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=j40Gv039eBvmGrNoO5ooTzDl"></script>
<script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="__PUBLIC__/laile/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
    jQuery(".banner").slide({mainCell:".bd ul",trigger:"click",effect:"fold",autoPlay:false,easing:"easeOutCirc"});
    jQuery(".banner").hover(function(){
        $(".banner .prev").stop(true,true).animate({
            left: '0',opacity: '1'
        })
        $(".banner .next").stop(true,true).animate({
            right: '-1200',opacity: '1'
        })
    },function(){
        $(".banner .prev").stop(true,true).animate({
            left: '-90',opacity: '0'
        })
        $(".banner .next").stop(true,true).animate({
            right: '-1280',opacity: '0'
        });
    });/*鼠标移过，左右按钮显示*/
    // jQuery(".slideTxtBox").slide();

</script>
<script type="text/javascript" src='http://webapi.amap.com/maps?v=1.3&key=43ff1694711e6bf80c9af20924b8737c'></script>
<!-- UI组件库 1.0 -->
<script src="http://webapi.amap.com/ui/1.0/main.js?v=1.0.10"></script>
<script type="text/javascript">
    //创建地图
    var map = new AMap.Map('container', {
        zoom: 9
    });

    AMapUI.loadUI(['misc/MarkerList', 'overlay/SimpleMarker', 'overlay/SimpleInfoWindow'],
        function(MarkerList, SimpleMarker, SimpleInfoWindow) {

            var markerList = new MarkerList({
                //关联的map对象
                map: map,
                //列表的dom容器的id
                listContainer: 'my-list',

                //返回数据项的Id
                getDataId: function(dataItem, index) {
                    //index表示该数据项在数组中的索引位置，从0开始，如果确实没有id，可以返回index代替
                    return dataItem.id;
                },
                //返回数据项的位置信息，需要是AMap.LngLat实例，或者是经纬度数组，比如[116.789806, 39.904989]
                getPosition: function(dataItem) {
                    return dataItem.position;
                },
                //返回数据项对应的Marker
                getMarker: function(dataItem, context, recycledMarker) {

                    //存在可回收利用的marker
                    if (recycledMarker) {
                        //直接更新内容返回
                        recycledMarker.setIconLabel(context.id);
                        recycledMarker.setIconStyle(dataItem.iconStyle);
                        return recycledMarker;
                    }

                    //返回一个新的Marker
                    return new SimpleMarker({
                        containerClassNames: 'my-marker',
                        iconStyle: dataItem.iconStyle,
                        iconLabel: context.id
                    });
                },
                //返回数据项对应的infoWindow
                getInfoWindow: function(dataItem, context, recycledInfoWindow) {

                    if (recycledInfoWindow) {
                        //存在可回收利用的infoWindow, 直接更新内容返回
                        recycledInfoWindow.setInfoTitle(dataItem.title);
                        recycledInfoWindow.setInfoBody(dataItem.desc);
                        return recycledInfoWindow;
                    }

                    //返回一个新的InfoWindow
                    return new SimpleInfoWindow({
                        offset: new AMap.Pixel(0, -37),
                        infoTitle: dataItem.title,
                        infoBody: dataItem.desc
                    });
                },
                getListElement: function(dataItem, context, recycledListElement) {

                    // var tpl = '<button style="background-color:<%= dataItem.iconStyle %>">' +
                    //     '<%- dataId %></button> <%- dataItem.title %>';
                    var tpl = '<i class="num"><%- dataId %></i><%- dataItem.title %> ';

                    var content = MarkerList.utils.template(tpl, {
                        dataItem: dataItem,
                        dataId: context.id
                    });

                    if (recycledListElement) {
                        //存在可回收利用的listElement, 直接更新内容返回
                        recycledListElement.innerHTML = content;
                        return recycledListElement;
                    }

                    //返回一段html，MarkerList将利用此html构建一个新的dom节点
                    return '<li>' + content + '</li>';
                }

            });

            //构建一个数据项数组，数据项本身没有格式要求，但需要支持下述的getDataId和getPosition
            var data = [{
                id: 'A',
                position: [114.02089,22.556031],
                iconStyle: 'red',
                title: '定位查询',
                desc: '描述_1'
            }, {
                id: 'B',
                position: [113.995881,22.550491],
                iconStyle: 'red',
                title: '地铁站2',
                desc: '描述_2'
            }, {
                id: 'C',
                position: [114.034904,22.542613],
                iconStyle: 'red',
                title: '地铁站3',
                desc: '描述_3'
            }, {
                id: 'D',
                position: [114.050139,22.559369],
                iconStyle: 'red',
                title: '地铁站4',
                desc: '描述_3'
            }];

            //展示该数据
            markerList.render(data);
        });
</script>

</body>
</html>