<include file="Public/head"/>
<style>
    th{
        text-align: center;
    }
</style>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="cf">
                            <form class="form-inline" action="" method="get">
                                <a class="btn btn-info" href="{:U('add')}" value="">新增</a>
                                <label class="inline">所属导航</label>
                                <select name="sid" class="form-control">
                                    <option value="0">--导航--</option>
                                    <volist name="category" id="vo">
                                        <option value="{$vo.id}" <if condition="$vo['id'] eq $sid">selected</if>>{$vo.name}</option>
                                    </volist>
                                </select>
                               <!-- <label class="inline">文章标题</label>
                                <input type="text" name="keyword" value="{:I('keyword')}" class="form-control">-->

                                <label class="inline">&nbsp;&nbsp;排序：</label>
                                <select name="order" class="form-control">
                                    <option value="desc" <if condition="I('order') eq desc">selected</if>>发布时间降序</option>
                                    <option value="asc" <if condition="I('order') eq asc">selected</if> >发布时间升序</option>

                                </select>


                                <button type="submit" class="btn btn-purple btn-sm">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                    搜索
                                </button>
                            </form>
                        </div>
                        <div class="space-4"></div>
                        <form id="form" method="post" action="{:U('del')}">
                            <table class="table table-striped table-bordered col-xs-12">
                                <thead>
                                <tr>
                                    <th class="center"><input class="check-all" type="checkbox" value=""></th>
                                    <th>所属导航</th>
                                    <th width="10%">banner图</th>
                                    <th width="5%">移动端图</th>
                                    <th>SEO标题</th>
                                    <th>关键词</th>
                                    <th class ='col-xs-3'>描述</th>
                                    <th>发布时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="list" id="val">
                                    <tr class="text-center">
                                        <td class="center"><input class="aids" type="checkbox" name="aids[]"
                                                                  value="{$val['id']}"></td>
                                        <td><a href="{:U('index',array('sid'=>$val['sid']))}" title="{$val['name']}">{$val['name']}</a>
                                        </td>
                                        <td><a target="_blank" href="{$val['image_path']}"><img src="{$val['image_path']}" style="width:300px"></a></td>
                                        <td><a target="_blank" href="{$val['m_image_path']}"><img src="{$val['m_image_path']}" style="width:150px"></a></td>
                                        <td>{$val['seotitle']}</td>
                                        <td>{$val['keywords']}</td>
                                        <td>{$val['description']}</td>
                                        <td>{$val['t']|date="Y-m-d H:i:s",###}</td>
                                        <td><a href="{:U('edit',array('id'=>$val['id']))}"><i
                                                class="ace-icon fa fa-pencil bigger-100"></i>修改</a>&nbsp&nbsp;<a
                                                href="javascript:;" val="{:U('del',array('aids'=>$val['id']))}" class="del"><i
                                                class="ace-icon fa fa-trash-o bigger-100 red"></i>删除</a></td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </form>
                        <div class="cf">
                            <input id="submit" class="btn btn-info" type="button" value="删除">
                        </div>
                        {$page}
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(function () {
        $(".check-all").click(function () {
            $(".aids").prop("checked", this.checked);
        });
        $(".aids").click(function () {
            var option = $(".ids");
            option.each(function (i) {
                if (!this.checked) {
                    $(".check-all").prop("checked", false);
                    return false;
                } else {
                    $(".check-all").prop("checked", true);
                }
            });
        });
        $("#submit").click(function () {
            bootbox.confirm({
                title: "系统提示",
                message: "是否要删除所选项？",
                callback: function (result) {
                    if (result) {
                        $("#form").submit();
                    }
                },
                buttons: {
                    "cancel": {"label": "取消"},
                    "confirm": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
        });
        $(".del").click(function () {
            var url = $(this).attr('val');
            bootbox.confirm({
                title: "系统提示",
                message: "是否要删除？",
                callback: function (result) {
                    if (result) {
                        window.location.href = url;
                    }
                },
                buttons: {
                    "cancel": {"label": "取消"},
                    "confirm": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
        });
    })
</script>
</body>
</html>
