<include file="Public/head" />
<include file="Public/header" />
<style>
	.swiper-slide a{
		color: #363636;
		text-decoration: none;
	}
	.swiper-slide a:hover{
		color: #363636;
		text-decoration: none;
	}

	 .pagination li{
		 float:left
	 }

</style>

	<!-- banner -->
	<div class="banner">
		<img src="{$bannerPC['image_path']}" alt="banner">
		<!-- <div class="container">
			<div class="row">
			</div>
		</div> -->
	</div>
	<!-- banner -->

	<!-- sub-nav -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="swiper-container" id="swiper-container2">
					<div class="swiper-wrapper" style="padding: 0px 36%;">
						<volist name="latest_cate" id="vo">
						<div class="swiper-slide hidden-xs <if condition="$vo['id'] eq $channel_id">active-nav</if>"><span><a href="{:U($vo['link'],array('id'=>$vo['id'],'pid'=>$vo['pid']))}" <if condition="$vo['id'] eq $channel_id">style="color:#eac0aa"</if>>{$vo['name']}</a></span></div>
						<div class="swiper-slide visible-xs <if condition="$vo['id'] eq $channel_id">active-nav</if> "><span><a href="{:U($vo['link'],array('id'=>$vo['id'],'pid'=>$vo['pid']))}" <if condition="$vo['id'] eq $channel_id">style="color:#eac0aa"</if>><?php echo (mb_substr($vo['name'],0,2,'utf-8'));?></a></span></div>
					</volist>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- sub-nav -->

	<!-- news -->
	<div class="news">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="news-type">
						<span>
							<volist name="latest_cate" id="vo">
								<if condition="$vo['id'] eq $channel_id">{$vo['name']}</if>
							</volist>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="first-item">
						<p class="first-title">{$info[0]['title']}</p>
						<p class="first-introduce twoLine">{$info[0]['content']}</p>
						<div class="first-pic">
							<div class="row">
								<div class="col-xs-6 text-center">
									<img src="__PUBLIC__/milan/img/news/news1.png" width="90%" alt="">
								</div>
								<div class="col-xs-6 text-center">
									<img src="__PUBLIC__/milan/img/news/news2.png" width="90%" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<volist name="info" id="vo" key="k">
				<div class="col-xs-12">
					<div class="news-item">
						<div class="news-index">
							<p class="news-d">{$vo['t'] | date="d",###}</p>
							<p class="news-ym">{$vo['t'] | date="Y/m",###}</p>
						</div>
						<div class="news-con">
							<p class="news-title"><a href="{:U('Latest/detail',array('id'=>$vo['id'],'channel_id'=>$channel_id))}">{$vo['title']}</a></p>
							<p class="news-introduce twoLine">{$vo['content']}</p>
						</div>
					</div>
				</div>
				<!--<if condition="$k eq 3">
					<div class="col-xs-12">
						<div class="news-item">
							<img src="__PUBLIC__/milan/img/news/news3.PNG" width="100%" alt="">
						</div>
					</div>
				</if>-->

				</volist>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					{$page}
					<if condition="$num lt $count">

						<li class="paginate_button" style="border: 1px solid #e9e9e9;width:60px;height: 34px;text-align: center;line-height: 34px;font-size: 14px; color:#337ab7">
							<select name="sel_Page" onchange="sel_page(this)">
								<for start="1" end="$allPage" name="i">
									<option value="{$i}" <if condition="$p eq $i">selected</if>>
									{$i}
									</option>
								</for>
							</select>
						</li>
						<li class="paginate_button" style="border: 1px solid #e9e9e9;width:60px;height: 34px;text-align: center;line-height: 34px;font-size: 14px; color:#337ab7">
							共 {$allPage-1} 页
						</li>
						<li class="paginate_button" style="border: 1px solid #e9e9e9;width:60px;height: 34px;text-align: center;line-height: 34px;font-size: 14px; color:#337ab7">
							{$count} 条
						</li>
						</ul></div>
				</if>

			</div>
			</div>

		</div>
	</div>
	<!-- news -->


<include file="Public/footer" />

	<!-- common js -->
	<script type="text/javascript">
		function sq(obj) {
			var val = $(obj).val().length;
			if (val < 11) {
				alert("至少输入11个字符！");
				$(obj).val($(obj).val().substring(0, 11))
			}
		}

		function ta(obj) {
			var val = $(obj).val().length;
			if (val > 11) {
				alert("至多输入11个字符！");
				$(obj).val($(obj).val().substring(0, 11))
			}
		}

        function sel_page(obj) {
            var page = $(obj).val();
            window.location.href = '/Home/Latest/index/id/'+{$channel_id}+'/pid/'+{$pid}+'/p/'+page;
        }

	</script>
	<!-- common js -->
</body>

</html>