<include file="Public/head" />
<include file="Public/header" />
	<!-- banner -->
	<div class="banner">
		<img src="../img/news/banner.png" alt="banner">
		<!-- <div class="container">
			<div class="row">
			</div>
		</div> -->
	</div>
	<!-- banner -->

	<!-- sub-nav -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="swiper-container" id="swiper-container2">
					<div class="swiper-wrapper" style="padding: 0px 36%;">
						<div class="swiper-slide active-nav hidden-xs"><span>企业新闻</span></div>
						<div class="swiper-slide hidden-xs"><span>潮流新闻</span></div>
						<div class="swiper-slide active-nav visible-xs"><span>企业</span></div>
						<div class="swiper-slide visible-xs"><span>潮流</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- sub-nav -->

	<!-- news -->
	<div class="news">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="news-type">
						<span>企业新闻</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="first-item">
						<p class="first-title">如何挑选适合自己的内衣</p>
						<p class="first-introduce twoLine">很多姑娘可能一直以来都对自己的胸围都不是很了解，再买内衣时候都不敢确定的告诉大家自己穿的是什么罩杯，因此模棱两可毫无主见的随便选择了一款内衣，最后导致内衣不适合而扔在衣柜的一角。因此要挑选适合自己的内衣的第一步，就是要确定自己内衣的size。</p>
						<div class="first-pic">
							<div class="row">
								<div class="col-xs-6 text-center">
									<img src="../img/news/news1.png" width="90%" alt="">
								</div>
								<div class="col-xs-6 text-center">
									<img src="../img/news/news2.png" width="90%" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="news-item">
						<div class="news-index">
							<p class="news-d">08</p>
							<p class="news-ym">2016/10</p>
						</div>
						<div class="news-con">
							<p class="news-title">如何挑选适合自己的内衣</p>
							<p class="news-introduce twoLine">很多姑娘可能一直以来都对自己的胸围都不是很了解，再买内衣时候都不敢确定的告诉大家自己穿的是什么罩杯，因此模棱两可毫无主见的随便选择了一款内衣，最后导致内衣不适合而扔在衣柜的一角。因此要挑选适合自己的内衣的第一步，就是要确定自己内衣的size。</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="news-item">
						<div class="news-index">
							<p class="news-d">08</p>
							<p class="news-ym">2016/10</p>
						</div>
						<div class="news-con">
							<p class="news-title">如何挑选适合自己的内衣</p>
							<p class="news-introduce twoLine">很多姑娘可能一直以来都对自己的胸围都不是很了解，再买内衣时候都不敢确定的告诉大家自己穿的是什么罩杯，因此模棱两可毫无主见的随便选择了一款内衣，最后导致内衣不适合而扔在衣柜的一角。因此要挑选适合自己的内衣的第一步，就是要确定自己内衣的size。</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="news-item">
						<div class="news-index">
							<p class="news-d">08</p>
							<p class="news-ym">2016/10</p>
						</div>
						<div class="news-con">
							<p class="news-title">如何挑选适合自己的内衣</p>
							<p class="news-introduce twoLine">很多姑娘可能一直以来都对自己的胸围都不是很了解，再买内衣时候都不敢确定的告诉大家自己穿的是什么罩杯，因此模棱两可毫无主见的随便选择了一款内衣，最后导致内衣不适合而扔在衣柜的一角。因此要挑选适合自己的内衣的第一步，就是要确定自己内衣的size。</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="news-item">
						<img src="../img/news/news3.PNG" width="100%" alt="">
					</div>
				</div>
				<div class="col-xs-12">
					<div class="news-item">
						<div class="news-index">
							<p class="news-d">08</p>
							<p class="news-ym">2016/10</p>
						</div>
						<div class="news-con">
							<p class="news-title">如何挑选适合自己的内衣</p>
							<p class="news-introduce twoLine">很多姑娘可能一直以来都对自己的胸围都不是很了解，再买内衣时候都不敢确定的告诉大家自己穿的是什么罩杯，因此模棱两可毫无主见的随便选择了一款内衣，最后导致内衣不适合而扔在衣柜的一角。因此要挑选适合自己的内衣的第一步，就是要确定自己内衣的size。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<ul class="pagination">
						<li><a href="./news_detail.html">&laquo;</a></li>
						<li><a href="./news_detail.html">首页</a></li>
						<li><a href="./news_detail.html">1</a></li>
						<li><a href="./news_detail.html">2</a></li>
						<li><a href="./news_detail.html">3</a></li>
						<li><a href="./news_detail.html">4</a></li>
						<li><a href="./news_detail.html">5</a></li>
						<li>
							<a>
								<select onchange="location.href=this.options[this.selectedIndex].value;" style="border:none;">
									<option value="./news_detail.html" selected>1</option>
									<option value="./news_detail.html">2</option>
									<option value="./news_detail.html">3</option>
									<option value="./news_detail.html">4</option>
									<option value="./news_detail.html">5</option>
								</select>
							</a>
						</li>
						<li><a href="./news_detail.html">末页</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- news -->


<include file="Public/footer" />

	<!-- common js -->
	<script type="text/javascript">
		function sq(obj) {
			var val = $(obj).val().length;
			if (val < 11) {
				alert("至少输入11个字符！");
				$(obj).val($(obj).val().substring(0, 11))
			}
		}

		function ta(obj) {
			var val = $(obj).val().length;
			if (val > 11) {
				alert("至多输入11个字符！");
				$(obj).val($(obj).val().substring(0, 11))
			}
		}
	</script>
	<!-- common js -->
</body>

</html>